@import url("https://fonts.cdnfonts.com/css/source-sans-pro");
@import url("https://fonts.googleapis.com/css2?family=Proxima+Nova");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* @plugin "@tailwindcss/typography" */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.wysiwyg {
  @apply prose max-w-none prose-foreground prose-headings:mt-0 prose-headings:mb-2 prose-p:mt-0 prose-p:mb-2 prose-ul:mt-0 prose-ul:mb-2 prose-li:mt-0 prose-li:mb-2 prose-ol:mt-0 prose-ol:mb-2 prose-img:mt-0 prose-img:mb-2 prose-hr:mt-0 prose-hr:mb-2 prose-p:leading-normal prose-li:leading-normal prose-a:break-all;
}

/* @layer base {
  html {
    font-family: "Source Sans Pro", "Proxima Nova", system-ui, sans-serif;
  }
} */

:root {
  --scroll-thumb-color: #8d8d8d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  ::-webkit-scrollbar-track {
    /*border-radius: 10px;*/
    @apply bg-dark_scroll_track border-none;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-dark_scroll_thumb;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-color);
  }
}

.dark {
  ::-webkit-scrollbar-track {
    @apply bg-dark_scroll_track border-none;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-dark_scroll_thumb;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-color);
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}   */

input {
  outline: none;
}

/* Scroll bar custom styles */
::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}

@media (max-width: 480px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 4px;
  }
}

::-webkit-scrollbar-track {
  /*border-radius: 10px;*/
  background: #f4f4f4;
  border: 1px solid white;
}

::-webkit-scrollbar-thumb {
  background: #dbdbdb;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-color);
}

.smaller-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 0px;
  @apply absolute;
}

.smaller-scrollbar::-webkit-scrollbar-track {
  @apply w-7 border border-none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.country .highlight {
  background: red !important;
}
